#-----------------------------------------
files:
    /home/ec2-user/private_local.sh:
        group: root
        mode: "000755"
        owner: root
        content: |
            #!/bin/bash
            echo "Private World!" >> Hello.txt
#------------------------------------------
commands:
    mkdir1:
        command: "mkdir -p /home/ec2-user/Folder-1"
    mkdir2:
        command: "mkdir -p /home/ec2-user/Folder-2"
    mkdir3:
        command: "mkdir -p /home/ec2-user/Folder-3"
    mkdir4:
        command: "echo 'export test-env=variable' >> /home/ec2-user/.bashrc"    
    mkdir5:
        command: "source /home/ec2-user/.bashrc"
