[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
troposphere = {extras = ["policy"]}

[dev-packages]
pytest = "*"
pyinstaller = "*"
pywin32 = {version = "*", sys_platform = "== 'win32'"}
"flake8" = "*"

[requires]
python_version = "3.6"
